body{
 background-color: #99ff66;

}

.header{
 background: url('../image.JPG') ;
   background-repeat: no-repeat;
      background-size: cover;
        width: 1400px;
      height: 300px; 
  color: #fdfdfd;
  font: 12px/17px 'HelveticaNeue-UltraLight', Helvetica, Arial, sans-serif;
  padding: 18px 28px 20px;
  border-radius:2px 2px 0 0;
}
ul{
  list-style: none;
}


       .add{
        text-align: center;
       	margin-left:500px;
        margin-top: 70px;
       	margin-bottom: :500px;
       
        width: 150PX;
        
       }
       
       button {
	background-color:   #66ff66;
	color:#2cdb91; 
	border-radius: 15%;
  font-size: 40PX;
	width: 100px;
  font-family: 'Teko', sans-serif;
}
 table {
	
    border-collapse: collapse;
    background-color:  #29352a ;
}
th, td {
    border: solid 1px #313531;
    padding: 10px;
    color: #29352a;
    font-family: 'Teko', sans-serif; 
    background-color: #66ff66;
}
.fixed {
    max-width:150px;
    min-width: 150px;
}
.fluid {
        width: 50%;
}



   
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #2cdb91; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2cdb91 , #1b2d06); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2cdb91 , #1b2d06); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
